<div class="details">
  <h2 class="title">{{title}}</h2>
  <div class="table-wrapper">
    <section class="container">
      <div class="header-row">
        <div *ngFor="let column of columnList" class="column header" [ngClass]="calculateClasses(column.key)">{{column.label}}</div>
      </div>
      <ng-container *ngIf="!loading">
        <div *ngFor="let row of data" class="data-row">
          <div *ngFor="let column of columnList" class="column" [ngClass]="calculateClasses(column.key)">{{row[column.key]}}</div>
        </div>
      </ng-container>
    </section>
  </div>
  <footer class="footer">
    <div class="paginator" [ngClass]="{'disabled': !previous}" (click)="previous && pageClick.emit(previous)">Previous</div>
    <div class="paginator" [ngClass]="{'disabled': !next}" (click)="next && pageClick.emit(next)">Next</div>
  </footer>
</div>