:host {
  $base-padding: 15px;
  .details {
    margin: 0 $base-padding;
    .title {
      text-align: center;
      padding-bottom: 15px;
      border-bottom: 1px solid lightgray;
    }
    .table-wrapper {
      overflow-y: scroll;
      height: 60vh;
      border-bottom: 1px solid darkgray;
      .container {
        display: table;
        border-collapse: collapse;
        border-spacing: 15px;
        width: 100%;
        .header-row,
        .data-row {
          border-bottom: 1px solid black;
          line-height: 2;
          .column {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
          }
          .column:nth-of-type(n + 1) {
            padding-left: $base-padding;
          }
        }
  
        .data-row {
          display: table-row-group;
        }
        .data-row:nth-of-type(2n + 1) {
          background-color: lightgrey;
        }
        .header-row {
          display: table-header-group;
          font-weight: bold;
          text-align: center;
        }
      }
    }

    .footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 30px 0;
      .disabled {
        color: darkgray;
      }
      .paginator {
        flex: 0 1 auto;
        margin: 0 15px;
        cursor: pointer;
        border-bottom: 1px solid white;

        &:hover {
          border-bottom: 1px solid darkgray;
        }
      }
    }
  }
}
