:host {
  ::ng-deep {
    .column-name {
      width: 20%;
    }
    .column-birth_year {
      width: 15%;
    }
    .column-eye_color {
      width: 15%;
    }
    .column-gender {
      width: 10%;
    }

    .column-hair_color {
      width: 15%;
    }

  }
}
