:host {
  .app {
    .heading {
      height: 10vh;
      text-align: center;
      border-bottom: 1px solid darkgray;
    }

    .body {
      display: flex;
      flex-direction: row;
      .resources {
        flex: 0 1 10vw;
        height: 80vh;
        text-align: center;
        border-right: 2px darkgray solid;
        padding: 0 30px;

        .resource-heading {
          border-bottom: 1px solid lightgray;
          padding-bottom: 15px;
        }
        .resources-container {
          .resource {
            padding-top: 5px;
            line-height: 3;
            font-size: 20px;
            cursor: pointer;
            outline: none!important;
            
            span:hover {
              border-bottom: 1px gray solid;
            }
          }
        }
      }
      .resource-details {
        height: 80vh;
        flex: 0 1 80vw;
        //overflow-y: scroll;
        margin: 0 30px;
      }
    }
  }
}
