<div class="app">
  <header class="heading">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </header>
  <div class="body">
    <nav class="resources">
      <h2 class="resource-heading">Resources</h2>
      <section class="resources-container">
        <div routerLink="{{resource.link}}" routerLinkActive="active" class="resource" *ngFor="let resource of resources">
          <span>{{resource.label}}</span>
        </div>
      </section>
    </nav>
    <section class="resource-details">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>