:host {
  ::ng-deep {
    .column-name {
      width: 10%;
    }
    .column-diameter {
      width: 10%;
    }
    .column-rotation_period {
      width: 10%;
    }
    .column-orbital_period {
      width: 10%;
    }

    .column-surface_water {
      width: 10%;
    }
  }
}
